#box {
	display: flex;
	/*flex-wrap: row;*/
	/*flex-direction: row;*/
	width: 100%;
	height: 100%;
	/*justify-content: space-around;*/
	font-size: 40px;
	font-family: Tahoma;
}
#box div {
	min-height: 150px;
	min-width: 100px;
	background-color: #eeeff2;
	padding: 10px;
	border-left: 10px dotted #D0D0FF;
	margin: 10px;
	/*overflow: nowrap;*/
}
#box div:hover { background-color: yellow; color: goldenrod;}

#box footer { min-height: 150px;
	min-width: 100px;
	background-color: #eeeff2;
	padding: 10px;
	border-left: 10px dotted #D0D0FF;
	position: absolute; bottom: 7px; right: 7px;}
#box footer:hover {background-color: yellow; color: goldenrod;}
